* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100vh;
}

.title-section {
  outline: none;
  height: 4%;
  background-color: #27ae60;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu-bar-section {
  height: 4%;
  background-color: white;
  display: flex;
  align-items: center;
}

.menu-bar-section div {
  margin-left: 20px;
  color: black;
}

.menu-options-section {
  height: 8%;
  background-color: #2ecc71;
}

.formula-section {
  height: 4%;
  display: flex;
}

.formula-section .selected-cell-div {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid;
  align-items: center;
}

.formula-section input {
  display: block;
  width: 80%;
  height: 100%;
  border: 1px solid;
  outline: none;
}

.grid {
  height: 76%;
  overflow: auto;
  position: relative;
}

.sheets-section {
  height: 4%;
  background-color: #2ecc71;
}

.blank-corner {
  height: 30px;
  width: 30px;
  background-color: gray;
  position: fixed;
  top: 20vh;
  left: 0;
}

.row-number-section {
  display: inline-block;
  position: fixed;
  top: calc(20vh + 30px);
  left: 0;
  z-index: -10;
}

.row-number {
  height: 30px;
  width: 30px;
  background-color: #27ae60;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 1px solid;
}

.column-tag-section {
  height: 30px;
  position: fixed;
  background: bisque;
  top: 20vh;
  left: 30px;
  display: flex;
  z-index: -10;
}

.column-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  flex-shrink: 0;
  height: 30px;
  background-color: #27ae60;
  border: none;
  border-right: 1px solid;
  color: white;
}

.cell-section {
  height: calc(76vh - 30px);
  width: calc(100vw - 30px);
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: auto;
}


.cell{
  width: 80px;
  height: 30px;
  border: 1px solid;
  flex-shrink: 0;
  outline: none;
}

.cell-selected{
  border: 2px solid rgb(60, 60, 218);
}

.row{
  display: flex;
}