* {
  box-sizing: border-box;
}

body {
  background-color: #273c75;
}

input {
  width: 400px;
  height: 50px;
  font-size: 20px;
}

button {
  height: 50px;
  width: 100px;
  font-size: 20px;
}

li {
  font-family: "Raleway", sans-serif;
  color: white;
  list-style: none;
  font-size: 30px;
}
