.preview-container {
  height: 93vh;
  width: 100vw;
  display: flex;
}

.preview-img-container,
.preview-listing {
  height: 100%;
  width: 50%;
}

.preview-img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.preview-listing h2 {
  margin-top: 4rem;
  text-align: center;
}

.preview-listing p {
  text-align: justify;
  padding: 20px;
}

.preview-listing button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background: #f7b731;
  font-size: 1.2rem;
}
