input {
  border: none;
  color: white;
  outline: none;
}


button{
  height: 2rem;
  width: 4rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: red;
  color: white;
  border: none;
  outline: none;
}