* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
}

.navbar {
  background-color: #57606f;
  height: 15vh;
  display: flex;
}

.grid {
  height: 85vh;
}

.filters,
.action-buttons {
  height: 50%;
  background-color: #2f3542;
  margin-top: calc((25 / 100) * 15vh);
  margin-left: 5rem;
}

.filters {
  width: 16rem;
  display: flex;
}

.action-buttons {
  width: 8rem;
  display: flex;
}

.filter {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter:hover {
  background-color: #747d8c;
}

.add,
.delete {
  height: 100%;
  width: 50%;
  color: white;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex; 
  /* default flex dirn => horizontal  */
  justify-content: center; 
  /* this will set your children in horizontal center  */
  align-items: center;
  /* this will set your children in vertical center  */
}

.delete{
    font-size: 2.9rem;
}

.add:hover,
.delete:hover {
  background-color: #747d8c;
}


.filter div{
    height: 50%;
    width: 50%;
    border-radius: 6px;
}

.pink{
    background-color: #ff6b81;
}

.green{
    background-color: #10ac84;
}

.blue{
    background-color: #0abde3;
}

.black{
    background-color: black;
}

.material-icons{
    font-size: 2.5rem!important;
}

.modal{
    height: 20rem;
    display: flex;
    width: 35rem;
    position: fixed;
    top: 20vh;
    /* ye left wala 50% jo hai wo body ki width ka hai  */
    left: 50%;
    /* ye translate wala jo 50% hai wo khudke element ka hai  */
    transform: translateX(-50%);
}

.task-section{
  height: 100%;
  width: 70%;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-inner-container{
  height: 95%;
  width: 95%;
  border: 1px solid;
}

.modal-priority-section{
  height: 100%;
  width: 30%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority-inner-container{
  height: 80%;
  width: 60%;
  border: 1px solid;
}

.modal-priority{
  width: 80%;
  height: 22%;
  border: 1px solid;
}