* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.video-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black;
}

video {
  height: 100%;
  width: 100%;
}

button {
  position: fixed;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background: black;
  border: 8px solid white;
  z-index: 3;
}

button span {
  height: 60%;
  width: 70%;
  display: inline-block;
  border-radius: 50%;
}

#record {
  top: 40vh;
}

#record span {
  background-color: red;
}

#capture {
  top: 60vh;
}

#gallery {
  bottom: 4rem;
  color: white;
  font-size: 1.1rem;
}

#capture span {
  background-color: white;
}

.filters {
  z-index: 3;

  height: 12rem;
  width: 5rem;
  border: 1px solid;
  position: fixed;
  top: 20vh;
  left: 2rem;
  display: flex;
  flex-direction: column;
}

.filter {
  border: 1px solid;
  flex-grow: 1;
  background-blend-mode: color-burn;
  background-size: cover;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/91wcUPNHFEL.png);
}

.zoom {
  z-index: 3;

  height: 8rem;
  width: 4rem;
  border: 1px solid;
  position: fixed;
  top: 20vh;
  right: 2rem;
  display: flex;
  flex-direction: column;
}

.zoom div {
  z-index: 3;
  background: #332e2e;
  flex-grow: 1;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.capture-animation {
  animation: shrinkDownUp;
  animation-duration: 1s;
}

.record-animation {
  animation: shrinkDownUp;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

.filter-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

@keyframes shrinkDownUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
